@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
svg {
    position: absolute;
} 




    body {
        
        color:rgb(0, 0, 0);
        /* filter: url(#distort); */
        margin: 0 0 0 0;
        font-size: 2vh;
        font-family: 'Montserrat', sans-serif;
        font-weight:600;
        /* font-family: 'Helvetica Neue', sans-serif; */
        /* color:rgb(0, 0, 0); */
        overflow: hidden;
        -ms-overflow-style: none;
        overscroll-behavior: none;
        
    
    
        
    }

    .poster{
        
        margin: 0 0 0 0;
        position:absolute;
        transform: translate(-50%, -50%);
        top:48%;
        left:50%;
    }

    .poster video{
        width:100vh;
    }


    iframe{
        border: 0;
    }

    hr{
        margin-right:7%;
        border: 2px solid #000000;
    

  
    }

    .line{
        
        border: 0px;
    
        filter: url(#distort);
    }

    .v-line {
   
        position:fixed;
        filter: url(#distort);
        border: 2px solid #000000;
        left: 17%;
        height : 100%;
      }


    .all{
        width:100%;
        display: grid;
        grid-template-columns: 1fr  4.5fr;
        overflow-x: hidden;
    }

    .left {
    
        overflow-y: auto;
        height: 100vh;
        flex: 0 0 50%; /* Adjust the percentage as needed */
    }

    .project a{
            margin-left:3%;
        /* margin-left:3%; */
        z-index: 1; /* Ensure proper stacking order */
        position: relative; /* Adjust positioning if needed */
        pointer-events: auto; /* Enable pointer events */
    }
    
        
    .category10{
        /* text-decoration:  line-through; */
    
        /* font-weight: bold; */
    margin-left:3%;
    /* font-weight: bold; */

   


    }

    .right {
        position: relative;
        overflow-y: auto;
        height: 100vh;
   
    }

    

    ::-webkit-scrollbar {
         display: none;
    }

    a:link, a:visited {

        color:inherit;
        text-decoration: none;

    }

    a:hover{
     
        text-decoration: line-through;
     
        /* filter: url(#distort); */
  
         
       
    }

   

    
 


    .name{

        filter: url(#distort);
    
        overflow: hidden;
        white-space: nowrap;

       
        margin-top:0%;
        padding-top:0%;
        position: fixed;
      
        
        font-size: 1.7vw;
        
    
    
    }

    .marquee {
        
        width:100%;
    
        white-space: nowrap;


    

        animation: marquee 120s linear infinite;
        
    }

    @keyframes marquee {
        0% {
            transform: translate(0%, 0);
        }
        100% {
            transform: translate(-100%,0 );
        }
    }

    

    .hidden {
        display: none;
    }



   
 


    @media all and (max-width:960px){

        body {
            /* filter: url(#distort); */
            margin: 0 0 0 0;
            font-size: 3vw;
            font-family: 'Montserrat', sans-serif;
            font-weight:600;
            white-space: nowrap;
            /* font-family: 'Helvetica Neue', sans-serif; */
            color:rgb(0, 0, 0);
            overflow: hidden;
            -ms-overflow-style: none;
            overscroll-behavior: none;
            
        
        
            
        }
        
        .name{

            filter: url(#distort);
        
            overflow: hidden;
            white-space: nowrap;
    
           
            margin-top:0%;
            padding-top:0%;
            position: fixed;
          
            
            font-size: 3.5vw;
            
        
        
        }
    }
    
  
   
  

  

  



